{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="{% static 'hangmanGame/loginstyle.css'%}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>

<body>
  <div class="wrapper">
    <header>Login Form</header>
      <form action="{%url 'login'%}" method="POST">
        {% csrf_token %}

        {% if messages %}
          {% for message in messages %}
          <div class="message text-center alert alert-info {{ message.tags }}">
            {{ message }}
          </div>
          {% endfor %}
        {% endif %}
  
      <div class="field email">
        <div class="input-area">
          <i class="icon fas fa-user"></i>
          <i class="error error-icon fas fa-exclamation-circle"></i>
          <input type="txt" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username" placeholder="Username" autocomplete="off">
        </div>
        <div class="error error-txt">Email can't be blank</div>
      </div>
      
      <div class="field password">
        <div class="input-area">
          
          <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password">
          <i class="icon fas fa-lock"></i>
          <i class="error error-icon fas fa-exclamation-circle"></i>
        </div>
        <div class="error error-txt">Password can't be blank</div>
      </div>
    
      <input type="submit" value="Login">
    </form>
    
    <div class="sign-txt">Not a member?
        <a href="{% url 'register_user'%}">Sign Up</a>
        {% comment %} <p>Contact:aranjan_be20@thapar.edu</p> {% endcomment %}
        <div style="color: red;">
          <bold><p>Forgot Password?? Contact:aranjan_be20@thapar.edu</p></bold>
        </div>
    </div> 
  </div>
  <br>

</body>
{% comment %} <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
  <div class="container text-center">
    <bold><p>Forgot Password?? Contact:aranjan_be20@thapar.edu</p></bold>
  </div>
</footer> {% endcomment %}
</html>
