{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register New User</title>
    <link rel="stylesheet" href="{% static 'hangmanGame/register_userStyle.css'%}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body> 
    <div class="container-fluid">
        {% if form.errors %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            There was an error with your form...
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}

        <h1 style="text-align: center;">New User SignUp</h1>
        {%if form.errors%}
            <p>There was an error with your form</p>
        {% endif %}

        <form method="POST" action="{% url 'register_user' %}">
            {% csrf_token %}
            {{form.as_p}}
            <br>
        <input type="submit" value="SignUp" class="btn btn-secondary">
        <a href="{% url 'login'%}"><button type="button" class="btn btn-secondary">Back</button></a>
        </form>
        
    </div>
    
</body>
</html>